argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
cffi==2.0.0
iniconfig==2.3.0
numpy==2.5.0
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
pycparser==3.0
pycryptodome==3.23.0
Pygments==2.20.0
pytest==9.1.1
scipy==1.18.0
# Editable install with no version control (UNKNOWN==0.0.0)
-e /mnt/LinuxStorage/home/batman/Documents/stego
