argon2-cffi>=23.1.0
cffi>=1.16.0
iniconfig>=2.0.0
jpegio>=0.2.8
numpy>=1.24.0,<2.0.0
packaging>=24.0
pillow>=10.0.0
pluggy>=1.4.0
pycparser>=2.21
pycryptodome>=3.20.0
pygments>=2.17.0
pytest>=8.0.0
reedsolo>=1.7.0
scipy>=1.11.0